*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    margin: 0;
}

button {
    background: white;
    border: 1px solid black;
    padding: 0.5em 0.75em;
    font-family: monospace;
    box-shadow: 0.15em 0.15em 0 0 #666;
    position: relative;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

button:active {
    top: 0.15em;
    left: 0.15em;
    box-shadow: none;
}

input[type="range"] {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.relative-container {
    position: relative;
}

.text-center {
    text-align: center;
}

.monospace {
    font-family: monospace;
}

table.grid {
    width: 99%;
    border-collapse: collapse;
}

table.grid td {
    height: 5em;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.graph {
    width: 100%;
    border: 1px solid black;
}

.handle {
    background-color: rgba(0, 0, 0, 0.25);
    border: 0 ridge black;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
}

.handle.handle-left {
    left: 0;
}

.handle.handle-right {
    right: 0;
}
